In [19]:
#LIST
lists = [14,2,5,10,"apple", "banana", "cherry", "apple", "cherry"]
print(len(lists))

9

In [20]:
lists[-2]="new"
print(lists)

[14, 2, 5, 10, 'apple', 'banana', 'cherry', 'new', 'cherry']

In [10]:
li=[78,90,2,48,982,0]
li.sort()
print(li)

[0, 2, 48, 78, 90, 982]

In [21]:
l=lists+li
print(l)

[14, 2, 5, 10, 'apple', 'banana', 'cherry', 'new', 'cherry', 0, 2, 48, 78, 90, 982]

In [16]:
#TUPLES
t=(1,4,8,34,9,"abc",True)
print(len(t))

7

In [23]:
x = ("apple", "banana", "cherry")
del x
print(x)

NameError: name 'x' is not defined

In [24]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2
print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [25]:
n=t.index("abc")
print(n)

5

In [27]:
#SET
new={"apple", "banana","kiwi","banana"}
print(new)
print(type(new))

{'apple', 'banana', 'kiwi'}
<class 'set'>

In [28]:
new.add("cherry")
print(new)
new.remove("banana")
print(new)

{'apple', 'cherry', 'banana', 'kiwi'}
{'apple', 'cherry', 'kiwi'}

In [33]:
#DICTIONARY
d = {
  "name": ["azsxdc","szxc"],
  "rollno": [123,873]
  
}
print(d)

{'name': ['azsxdc', 'szxc'], 'rollno': [123, 873]}

In [34]:

nested = {
  1:{ "name" : "Emil",
    "year" : 2004 },
  2 : {"name" : "Tobias",
    "year" : 2007},
 
}

print(nested)

{1: {'name': 'Emil', 'year': 2004}, 2: {'name': 'Tobias', 'year': 2007}}

In [37]:
d["dept"] =["cse","ece"]
print(d)
print(d.get("rollno"))

{'name': ['azsxdc', 'szxc'], 'rollno': [123, 873], 'dept': ['cse', 'ece']}
[123, 873]

In [3]:
#IF-ELSE
a = 33
b = 200
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

b is greater than a

In [4]:
if b > 10:
    print("Above ten,")
    if b > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")

Above ten,
and also above 20!

In [66]:
#FOR LOOP
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
if x == "banana":
    break

apple
banana

In [1]:
for x in range(2, 30, 3): #numbers in the range 2-30 with a gap of 3
    print(x)

2
5
8
11
14
17
20
23
26
29

In [5]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [6]:
#WHILE LOOP
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [7]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [8]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [60]:
print("line1 \
line2 \
line3")

print("\"")

print("\\")

line1 line2 line3
"
\

In [64]:
#LAMBDA FUNCTION
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [63]:
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [69]:
#REGULAR EXPRESSION
import re

txt = "python online class"
x = re.sub("o", "5", txt)
print(x)

s="hello 451 zbj axbj 34"
y=re.findall('\d+', s) 
print(y)

t="python"
pattern = '^p....n$'
result = re.match(pattern, t)
if result:
  print("Search successful.")
else:
  print("Search unsuccessful.")	
  
p='^[a-zA-Z0-9_]*$'
z="this_Is_526_Of"
if re.search(p, z):
    print("Found")
else:
    print("Not found")

pyth5n 5nline class
['451', '34']
Search successful.
Found